*{
  padding:0;
  margin:0;
  box-sizing: border-box;

}
body{
  background-image: url("components/images/bg.jpg");
  background-size: contain;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;

}



/*****************************************************************/
.nav{
  width:100%;
  height:60px;
  background-color: rgb(8, 13, 62);
  color:yellow;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  position:fixed;
  top:0;
  z-index: 2;
  box-shadow: 0 1px 1px grey;


}
.nav a{
  text-decoration: none;
  color: yellow;
}
.nav h1{
  font-size: 20px;
 
  
}

/* .dp-createablog{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.dp img{
  
  height:50px;
  width:50px;
  
  margin-right:5px;
}

.createablog input{
  width:80vw;
  height:50px;
 border :1px solid black;
 box-shadow: 1px 1px 1px grey;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  background-color:rgb(8, 13, 62) ;
  padding-left: 2px;
  
} */

.homeblogsHeading{
  margin-top: 70px;
  color:aliceblue;
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
  text-align: center;
}
.seatbelt{
  font-family:'Space Mono',sans-serif;
  padding: 10px;
  padding-left: 5px;
  color:yellow;
  font-size: 12px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.seatbelt img{
  height: 30px;
}
.seatbelt p{
  width:400px;
}
.fixedRocket{
   
    position: fixed;
    top: 135px;
    right: 4px; 
    z-index: 999; 
  
  
}
.card{
  position: relative;
  height:300px;
  width:100%;
  box-shadow: 0 1px 1px white;
}


.cardBottom{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color:yellow;
  height:90%;
  width:100%;
  text-align: center;

  

}
.cardBottom h1{
  word-wrap: break-word;
  color:aliceblue;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  text-transform: uppercase;
  font-size: 30px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: 100%;

}

.homeblogs{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;
}

.end{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:300px;
  width:100%;
  color:yellow;
  margin-bottom: 60px;
  
}
.end img{
  width:100px;
}
.postedAgo{
  color:grey;
  position:absolute;
  left:10px;
  bottom:10px;
  font-size: 13px;
}
.explore{
  color:grey;
  position:absolute;
  right:10px;
  bottom:10px;
  font-size: 13px;
}

.footer{
  background-color: rgb(8, 13, 62);
  width:100%;
  height:70px;
  box-shadow: 0 -1px 1px black;
  position:fixed;
  bottom:0;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  
  border-radius: 10px 10px 0 0 ;
}

.footer img{
 
  height: 40px;
  width:40px;
 
}
.footer i{
  color: yellow;
  text-decoration: none;
}
.footer a{
  
  text-decoration: none;
}

/**************************my profile and user profile***************************/
.myprofileContainer{
  width:100%;
}
.mygalaxy{
  margin-top:60px;
  text-align: center;
  position: relative;
  padding:6px;
  color:yellow;
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
  
}
.myprofiletop{
  width:100vw;
  position: relative;
  display: flex;
 padding:6px;
  align-items: center;
  border-bottom: 1px solid aliceblue;
  
  
}
.myprofiletop img{
  height:100px;
}
.myprofiletopright{
  margin-left: 3px;
  line-height: 17px;
}
.myprofiletop h2{
  color:aliceblue;
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
  margin-bottom: 10px;
  

}
.myprofiletop p{
 color:azure;
 font-size: 13px;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  text-transform:capitalize;

}
.myprofiletop i{
  color:yellow;
  position: absolute;
  top:10px;
  right:10px;
}

.myprofilebottom{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;
}
.myprofilebottom h6{
  color:yellow;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  font-size: 10px;
  text-align: center;

  
}
.myprofilebottom h6 a{
  color:aliceblue;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  font-size: 10px;

  
}
.myprofilecard{
  width: 100%;
  height:100%;
  position: relative;
}
.myprofilecard i{
  position: absolute;
  color: yellow;
  bottom:10px;
  left:50%;
  transform: translate(-50%,0);
}

/*************************CREATEBLOG**************************/
.createblog{
  margin-top: 60px;
  color: yellow;
  text-align: center;
}
.createblog h1{
  color:aliceblue;
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
    padding:6px;
}
.createblog p{
  color:yellow;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  font-size: 11px;
  margin:2px 0;
}
.heading{
  height:10vh;
  width:80vw;
  resize: none;
  background-color:rgb(8, 13, 62) ;
  color:aliceblue;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  border: none;
  padding:5px;
  box-shadow: 1px 1px 2px grey;
  margin:10px;
}

.blog{
  padding:5px;
  height:30vh;
  width:80vw;
  resize: none;
  background-color:rgb(8, 13, 62) ;
  color:aliceblue;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  white-space:pre-wrap;
  border: none;
  box-shadow: 1px 1px 2px grey;
}
.heading::placeholder{
  color:aliceblue;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
}
.blog::placeholder{
  color:aliceblue;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
}
.createblog button{
  background-color: yellow;
  border:none;
  height:30px;
  width:100px;
  margin:2px;
  color:rgb(8, 13, 62);
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
}
/*********************menu**********************/
.menu{
  margin-top:60px ;
  color:yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  background-color:rgb(8, 13, 62)  ;
}
.menulist{
  width:100%;
  height:60px;
  background-color:rgb(8, 13, 62) ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid yellow;
  cursor: pointer;
  
}
.menu a{
  text-decoration: none;
  color:yellow;
  width:100%;
  border-bottom: 1px solid yellow;
  
}
.menu :last-child{
  border-bottom: none;
}
/***********************blogpage and blogcard************************/
.cardTop{
  display:flex;
   justify-content: space-between;
  align-items: center;
  padding: 2px;
  height:10%;
}
.cardTopLeft{
  display:flex;
   justify-content: space-between;
  align-items: center;
}
.cardTopLeft a{
  text-decoration:none;
}
.cardTop img{
  height:35px;
}
.profilePhoto img{
  height:30px;
  width:30px;
  
  margin-right:5px;
}
.cardUsername{
  color:aliceblue;
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
}
.cardTopRight{
  display:flex;
  justify-content: space-between;
 align-items: center;
 gap:4px;
}
.blogcontent{
  padding-bottom: 80px;
  font-family:'Space Mono',sans-serif;
  text-align: center;
  color:aliceblue;
}
.blogcontent h2{
  word-wrap: break-word;
  color:aliceblue;
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;

  margin:10px 0;
    
}
.blogcontent p{
  white-space: pre-wrap;
}
.blogcontentBottomHandle {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap:20px;
}

.blogcontentBottomHandle i{
  color:yellow;
}
.blogcontentBottomText p{
  color:yellow;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  font-size: 13px;
  margin:20px 0;
}
.blogcontentBottomText a{
 text-decoration: none;
}


/*************************register********************************/

.registerContent{
  color:aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.registerContent h1{
  color:aliceblue;
  margin:6px 0;
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
}
.registerContent p{
  color:yellow;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  font-size: 13px;
  margin:2px 0;
}
.registerContent p a{
  color:aliceblue;
  
}

.registerForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerForm input{
  background-color: transparent;
  border:none;
  border-bottom: 2px solid aliceblue;
  height:30px;
  width:300px;
  margin:2px;
  color:aliceblue;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;

  
  
}
.registerForm input::placeholder{
  color:aliceblue;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;
  
}
.registerForm input:focus{
  outline: none;
  border-bottom: 3px solid yellow;
}

.registerForm button{
  background-color: yellow;
  border:none;
  height:30px;
  width:100px;
  margin:2px;
  color:rgb(8, 13, 62);
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
}
/***********************edit user****************************/
.editProfileContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.editProfileContent img{
  height:100px;
}
.editProfileContent h1{
  text-align: center;
  color:aliceblue;
  margin:6px 0;
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
}
.editProfileContent p{
  color:yellow;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;

}
.editProfileForm {
  width:300px;

}

.editProfileForm input{
  background-color: transparent;
  border:none;
  border-bottom: 2px solid aliceblue;
  height:30px;
  width:300px;
  margin:2px;
  color:aliceblue;
  font-family:'Space Mono',Arial, Helvetica, sans-serif ;

}
.editProfileForm input:focus{
  outline: none;
  border-bottom: 3px solid yellow;
}
.editProfileContent button{
  background-color: yellow;
  border:none;
  height:30px;
  width:100px;
  margin:2px;
  color:rgb(8, 13, 62);
  font-family:'Audiowide',Arial, Helvetica, sans-serif ;
  text-align: center;
  margin-top: 10px;

}


@media only screen and (max-width: 768px){
  html,
  body{
  width:100%;
  overflow-x:hidden;
  }
}
